[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=MeeGo-PIN
Exec=/usr/bin/meego-pinquery -desktop
Icon=meego-pinquery
X-Window-Icon=
X-HildonDesk-ShowInToolbar=false
X-Osso-Type=application/x-executable
