[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=PIN Entry
Exec=/usr/bin/qmlpinquery
Icon=qmlpinquery
X-Window-Icon=
X-HildonDesk-ShowInToolbar=false
X-Osso-Type=application/x-executable
