[Desktop Entry]
Type=Application
Name=PIN Entry
Categories=Applications;
Exec=invoker --type=qtcomponents-qt5 -s /usr/bin/qmlpinquery
Icon=qmlpinquery

X-Desktop-File-Install-Version=0.20
